/*
 * Globals
 */

nav li {
  display: inline;
  margin: 0;
  margin-right: 20px;
  font-size: 12pt;
  text-align: center;
}

.code-color {
  color: #111111;
}

li {
  text-align: -webkit-match-parent;
}
/*
 * Base structure
 */

html,
body {
  /*height: 100%;*/
  /*background-color: #034754;*/
}
body {
  font-family: 'ProximaNova-Regular' !important;
  font-weight: 100;
  line-height: 1.6em;
  color: #444444;
  background: #ffffff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.page-container {
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}
div {
  display: block;
}

a, a:hover {
  color: #666666 !important;
  text-decoration: none;
  /*border-bottom: 1px dotted;*/
}

a.dotted {
  border-bottom: 1px dotted;
}

h1.site-header {
  font-size: 64px !important;
  text-align: center;
}

.mastermind {
  border-bottom: 1px solid #aaaaaa;
  border-bottom-color: rgba(215, 202, 18, 0.25);
  font-weight: 100;
  font-size: 14px;
  /*line-height: 1.3em;*/
  margin-top: 50px;
  /*padding-bottom: 10px;*/
  display: block;
  text-align: left;
}


h2 {
  border-bottom: 1px solid #aaaaaa;
  border-bottom-color: rgba(215, 202, 18, 0.25);
  font-weight: 100;
  font-size: 28px;
  line-height: 1.3em;
  margin-top: 0;
  padding-bottom: 10px;
  display: block;
  text-align: left;
}
article {
  display: block;
  margin: 20px 10px 20px;
  padding: 20px 20px 40px;
  text-align: left;
  font-size: 12pt;
  vertical-align: top;
}

.teaser {
  width: 1018px;
}
p {
  margin: 0 0 25px;
}
.post {
  font-size: 16pt;
  line-height: 1.8em;
}

.page-header {
  border-bottom: none;
  /*text-align: right;*/
  /*padding-left: 30px;*/
}
