dj-database-url==0.3.0
Django==1.8
django-crispy-forms==1.5.2
django-disqus==0.5
django-easymode==0.14.5
django-extensions==1.5.5
django-modeltranslation==0.10.2
django-rosetta==0.7.6
funcsigs==0.4
microsofttranslator==0.5
mock==1.2.0
pbr==1.3.0
polib==1.0.7
psycopg2==2.6.1
requests==2.8.1
six==1.9.0
Werkzeug==0.10.4
