{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="row">
    <img class="responsive col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2" src="{% static 'img/elena_photo.jpg' %}" />
    <p style="font-size: 18px;" class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">Hey! My name is Elena and I love personal development! On this page I blog about my personal development jorney and about a few other things. If you would like to contact me about anything, just shoot me an <a href="mailto:oat.elena@gmail.com"
    onmouseover="this.href=this.href.replace(/x/g,'');">email</a>.</p>
    </div>
{% endblock content %}